/* Your custom styles */
body{background-color: #E3E4E5}
header{position: fixed;top: 0; z-index: 100;width: 100%;}
.placeholder{width: 5vh; background-color: white;} 
.tamaño{height: 70vmin; border-radius: 10px;display: block; margin: 0 auto auto;}
.nom{font-size: 2rem;}
.ing{font-size: 1.5rem;}
.fondo1{background-color: white;border-radius: 10px;}
.p{font-size: 1.25rem;}
.fondo2{background-color: #3a3a3a; height: 0%; color: #E3E4E5;}
.margen{ margin-bottom: 50px; margin-top: 50px;}
.color-bar{background-color: #75003E;}
.btn-up{display: none;color: #75003E;text-align: center;font-size: 65px;position: fixed;bottom: 20px;right: 20px;z-index: 100;text-align: center;}
.alinea{text-align: right;}
.vl{font-size: 15px;margin-left: 26px;width: 1.5px;background-color: rgba(58, 58, 58, 0.384);height: 100%;}
.fc{margin-left: 20.9px;font-size:12.5px;color: #3A3A3A;}
.imgT{height: 25vh;margin: auto;margin-bottom: 10px;display: block;}

footer{background-color: #3A3A3A;}

@media(max-width:991.98px){
#M_Big{text-align: left;}
#oculto{display: none;}
#visible{margin-bottom: 30px}

}
